@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Kanit', sans-serif !important;
  color: #0c0c0c;
  font-size: 14px; /* ลดขนาด font ใน body เป็น 14px */
}

h1 {
    font-size: 24px; /* ลดขนาด font ของ h1 เป็น 24px */
}

.text-sm {
    font-size: 12px; /* ลดขนาด font ของ text-sm เป็น 12px */
}

a:hover {
    transform: translateX(7px);
    font-weight:500;
}
#nav-content a:hover {
    box-shadow: none;
}

button:hover .hidden {
    display: block;
  }
